<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>手绘分析神器</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
{#    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />#}
{#    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">#}
{#    <link rel="stylesheet" href="/static/css/vmaig.css">#}
{#    <link rel="stylesheet" href="/static/css/vmaig_comments.css">#}
{#    <link rel="stylesheet" href="/static/css/vmaig_auth.css">#}
{#    <link rel="stylesheet" href="/static/jquery/jquery.Jcrop.min.css">#}

    <script src="/static/jquery/jquery-2.1.3.min.js"></script>
    <script src="/static/jquery/jquery.cookie.js"></script>
    <script src="/static/jquery/jquery.form.js"></script>
    <script src="/static/jquery/jquery.Jcrop.min.js"></script>
{#    <script src="/static/bootstrap/js/bootstrap.min.js"></script>#}
</head>
<body>



<!--<button class="btn btn-primary btn-lg" data-toggle="modal"-->
   <!--data-target="#myModal">-->
   <!--开始演示模态框-->
<!--</button>-->




 <div id="vmaig-main">
        <div id="vmaig-content" class="container">
           <div id="change-tx" class="well clearfix">
    <h1>手绘分析神器</h1>

    <div class="row ">

        <div class="col-md-6 l-center">
             <div class="row ">
                <div class="col-md-3 l-center">
                    <h4>预览</h4>
                    <div id="preview-pane">
                        <div class="preview-container" style="width:100px;height:100px;overflow:hidden;">
                            <img  src="{{user.img}}" alt="">
                        </div>

                <!--大头像 100x100-->

                    </div>
                </div>
                <div class="col-md-9 l-center">
                    <div>
                        <b>字符画</b> <input  name="img_type" type="radio" value="char" checked="checked" style="">
                        <b>原画</b> <input name="img_type" type="radio" value="normal" style="">
                    </div>
                    </br>
                    <div>
                        <b>使用字符:</b> <input id="ascii" type="text" value="X/-.  " style="">
                        <div>(包含空格)</div>
                    </div>

                    </br>
                    <div> <b>字符大小:</b> <input id="char_size" type="text" value="15" style=""></div>
                    </br>
                    <div> <b>辅助格子:</b>
                        <select id="grid_num">
                            <option value="0" >不需要</option>
                            <option value="2" >2*2</option>
                            <option value="3" >3*3</option>
                            <option value="4" >4*4</option>
                            <!--<option value="5" selected="selected">5*5</option>-->

                        </select>
                    </div>
                    </br>
                </div>
             </div>
            <h4>原图上传</h4>
            <div class="screen-tx">
                <img id="tmp-tx"  src="" alt="">
            </div>
            <form role="form" id="upload-tx-form">
                <div class="form-group">
                    <input type="button" id="save-tx" class="btn btn-vmaig-auth" value="确认转换">
                    <button type="button" class="btn btn-info">选择图片</button>
                    <input type="file" id="upload-tx" name="upload-tx">
                </div>
            </form>
        </div>
        <div class="col-md-6  ">
            <!--<div id="preview-pane">-->
                <h4>字符画</h4>

                <div class="preview-container" style="width: 100%;height:auto;border: 1px">
                    <a>
                        <img id="img-str"  src="" alt="" style="width: 100%;height: auto">
                    </a>
                </div>


        </div>
    </div>



</div>




    <!--
    <p>方法一：选择本地照片，上传编辑自己的头像</p>
    <button class="btn btn-vmaig">选择图片</button>支持jpg、jpeg、gif、png、bmp格式的图片
    <p>方法二：选择推荐头像，快速上传优质头像</p>
    -->



</div>

     <!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
   aria-labelledby="myModalLabel" data-backdrop="true" aria-hidden="true">
    <div class="modal-dialog">
          <div class="modal-content">
            <a style="top:100px">
{#              <img src="/static/icon/loading.gif" style="width:100%;height: auto;">#}
            </a>
          </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

</body>
<script language="javascript" type="text/javascript">

     $.ajax({
{#         url: "http://120.27.97.33/weixin/",#}
         url: "/weixin/?343478",
         type: "POST",
         data: {
             "url":"1"
         },
         beforeSend: function (xhr) {
{#             $("#myModal").modal('show');#}
             xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
         },
         success: function (data, textStatus) {

         },
         error: function (XMLHttpRequest, textStatus, errorThrown) {
             alert(XMLHttpRequest.responseText);
         },
         complete: function (XMLHttpRequest, textStatus, errorThrown) {

//            console.log("1:"+ $("body").scrollTop())
//            $("body").scrollTop(10000)
//            console.log("2:"+  $("body").scrollTop())
         }
     })


</script>
</html>